<a href="https://colab.research.google.com/github/rajeevfromkrec/webscrapping/blob/master/web_Scrapping_simple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://www.fasttrack.co.uk/league-tables/tech-track-100/league-table/

In [1]:
#import libraries

from bs4 import BeautifulSoup
#to handle HTML

import urllib.request 

#to make connection

import csv
import pandas as pd

In [2]:
urlpage =  'http://www.fasttrack.co.uk/league-tables/tech-track-100/league-table/'

In [3]:
# query the website and return the html to the variable 'page'
page = urllib.request.urlopen(urlpage)

In [4]:
# parse the html using beautiful soup and store in variable 'soup'
soup = BeautifulSoup(page, 'html.parser')

In [ ]:
print(soup)

In [9]:
# find results within table
table = soup.find('table', attrs={'class': 'tableSorter2'})
results = table.find_all('tr')
print('Number of results', len(results))

Number of results 101

In [ ]:
results

In [11]:
# create and write headers to a list 
rows = []
rows.append(['Rank', 'Company Name', 'Webpage', 'Description', 'Location', 'Year end', 'Annual sales rise over 3 years', 'Sales £000s', 'Staff', 'Comments'])
print(rows)

[['Rank', 'Company Name', 'Webpage', 'Description', 'Location', 'Year end', 'Annual sales rise over 3 years', 'Sales £000s', 'Staff', 'Comments']]

In [16]:

i=1
# loop over results
for result in results:
    # find all columns per result
    data = result.find_all('td')
    # check that columns have data 
    if len(data) != 0:
      # write columns to variables
      rank = data[0].getText()
      company = data[1].getText()
      location = data[2].getText()
      yearend = data[3].getText()
      salesrise = data[4].getText()
      sales = data[5].getText()
      staff = data[6].getText()
      comments = data[7].getText()
      rows.append([rank,company,location,yearend,salesrise,sales,staff,comments ])

In [18]:
with open('techtrack100.csv','w', newline='') as f_output:
    csv_output = csv.writer(f_output)
    csv_output.writerows(rows)

In [19]:
!ls

sample_data  techtrack100.csv

In [20]:
table=pd.read_csv('techtrack100.csv')

In [21]:
table.head()

   Rank                                       Company Name  ... Staff Comments
0     1           RevolutDigital banking services provider  ...   NaN      NaN
1     2                      BizumaB2B e-commerce platform  ...   NaN      NaN
2     3           Global-eCross-border ecommerce solutions  ...   NaN      NaN
3     4  Jungle CreationsSocial media & ecommerce services  ...   NaN      NaN
4     5  Oxford Nanopore TechnologiesDNA analysis techn...  ...   NaN      NaN

[5 rows x 10 columns]